<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="container-fluid" th:fragment="corpo">
	<br> <br>
	<h1>Usuários</h1>
	<hr>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a href="/home"><button class="btn btn-secondary" type="submit">Voltar</button></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<br>
					<li class="nav-item dropdown">
						<form class="d-flex" th:action="@{/usuarios/permissao}" method="GET">
							<select name="role" class="form-select me-1">
								<option value="">Busca por permissão</option>
								<a href="/entradas/listar">
									<option value="">Todas</option>
								</a>
								<option th:each="role : ${roles}" th:value="${role.name}" th:utext="${role}">
								</option>
							</select>
							<button type="submit" class="btn btn-secondary"><img
									src="/bootstrap-5.1.3-dist/icons/icons/list-ul.svg"></button>
						</form>
					</li>
					<br>
					<li class="nav-item">
						<a href="/usuarios/new"><button class="btn btn-secondary">Adicionar <img
									src="/bootstrap-5.1.3-dist/icons/icons/plus-circle.svg"></button></a>
					</li>
					<br>
				</ul>
				<form class="d-flex" role="search" action="buscar" method="GET">
					<input class="form-control me-1" name="buscarUsuario" type="search" placeholder="Pesquisar"
						aria-label="Search">
					<button class="btn btn-outline-secondary" type="submit"><img
							src="/bootstrap-5.1.3-dist/icons/icons/search.svg"></button>
				</form>
			</div>
		</div>
	</nav>
	<br><br>
	<div class="card">
		<div th:class="${#strings.isEmpty(message)} ? '' : 'card bg-success'">
			<div class="card-header">
				<span th:text="${#strings.isEmpty(message)} ? '' : ${message}"> </span>
			</div>
		</div>
		<div class="card-body">
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Matrícula</th>
						<th scope="col">Nome</th>
						<th scope="col">Nome de usuário</th>
						<th scope="col">Permissão</th>
						<th scope="col">Senha</th>
						<th scope="col">Editar</th>
						<th scope="col">Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${usuarios}">
						<td><span th:text="${usuario.id}"></span></td>
						<td><span th:text="${usuario.matricula}"></span></td>
						<td><span th:text="${usuario.nome}"></span></td>
						<td><span th:text="${usuario.nomeUsuario}"></span></td>
						<td><span th:text="${usuario.role}"></span></td>
						<td><span th:text="${usuario.senha}"></span></td>
						<td><a th:href="@{/usuarios/editar/{id}(id=${usuario.id})}"><button type="submit"
									class="btn btn-default"><img
										src="/bootstrap-5.1.3-dist/icons/icons/pencil-fill.svg"></button></a></td>
						<td>
							<a><button type="button" class="btn btn-default" data-bs-toggle="modal"
									th:attr="data-bs-target='#deletar_'+${usuario.id}"><img
										src="/bootstrap-5.1.3-dist/icons/icons/trash-fill.svg"></button>
								<!-- Modal -->
								<div class="modal fade" th:id="deletar_+${usuario.id}" tabindex="-1"
									aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Excluir</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<p>Deseja realmente excluir esse usuário?</p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Voltar</button>
												<div>
													<a th:href="@{/usuarios/excluir/{id}(id=${usuario.id})}"><button
															type="submit" class="btn btn-danger">Confirmar</button></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<script type="text/javascript" src="../bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
	</div>
</div>

</html>