<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
	<title>Pagina Inicial</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" href="style/style.css"/>
</head>
<body>
	
	<div class="buttons-dash">
        <a href="/registroEntrada"><button class="btn-entrada">Registrar Entrada</button></a>
        <button class="btn-relatorio">Gerar Relatório</button>
        <a href="/entradas"><button class="btn-listar">Listar Entradas</button></a>
        <button class="btn-finalizar">Registrar Saída</button>
      </div>

</body>
	    
</html>