<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
	<title>Registrar Entrada</title>
	<link rel="stylesheet" type="text/css" th:href="@{/style/registro.css}"/>
</head>
<body>
	<div class="main-login">
        <div class="card-login">
            <div class="label">
                <label for="titulo">Entrada de Veículos</label>
                <br>
            </div>
            <form action="#" th:action="@{/entradas/registrar}" method="post" th:object="${entradaAtual}">
            	<input type="hidden" th:field="*{id}">
              <div class="text-field">
                <br>
                <input type="text" value="" th:field="*{veiculo}" style="text-transform: capitalize;" placeholder="Veículo" required>
                <br>
                <input type="text" value="" th:field="*{placa}" placeholder="Placa" style="text-transform: uppercase;" required>
                <br>
                <input type="text" value="" th:field="*{nomeMotorista}" style="text-transform: capitalize;" placeholder="Nome do motorista" required>
                <br>
                <input type="number" value="" th:field="*{numeroApt}" placeholder="Número do apartamento">
                <br>
                <br>
                <button type="submit" class="btn-login">Salvar</button>
             </div>
            </form>
        </div>
    </div>
</body>

</html>