.container-fluid{
	top:50%;
	left:50%;
    background-image: linear-gradient(to right,#C0C0C0,rgb(245, 245, 245));
    padding: 40px;
    border-radius: 20px;
}
.label{
	text-align: center;
	font-family: Georgia;
	font-size: 35px;
}