.nav-name{
	position:absolute; 
    top:50%;
    left:91%;
    transform: translate(-50%, -50%);
}
.nav-logout {
	position:absolute; 
    top:50%;
    left:98%;
    transform: translate(-50%, -50%);
}
.btn-light:hover {
	transform: scale(1.1);
    transition: all;
}