body {
    margin: 0;
}
.col {
	position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 50%;
}
.col-1 {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 50%;
}

.nav-name {
	position:absolute; 
    top:50%;
    left:94.5%;
    transform: translate(-50%, -50%);
}
.btn-default:hover {
	transform: scale(1.1);
    transition: all;
}