.body {
	margin: 0;
}
.adicionar {
	position:absolute; 
    top:15%;
    left:81%;
    padding:5px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
.form-control {
	position:absolute; 
    top:15%;
    left:24%;
    width: 150px;
    height: 30px;
    padding: 3px;
    transform: translate(-50%, -50%);
}
.btn-list {
	position:absolute; 
    top:13.4%;
    left:28%;
}
.search {
	position:absolute; 
    top:15%;
    left:70%;
    transform: translate(-50%, -50%);
}
.voltar{
    position: absolute; 
    top:15%;
    left:17.8%;
    padding: 5px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}
.nav-name{
	position:absolute; 
    top:50%;
    left:91%;
    transform: translate(-50%, -50%);
}
.nav-logout {
	position:absolute; 
    top:50%;
    left:98%;
    transform: translate(-50%, -50%);
}
.btn-light{
	border-radius: 10px;
}
.btn-light:hover {
	transform: scale(1.1);
    transition: all;
}
.btn-default:hover {
	transform: scale(1.1);
    transition: all;
}